.post-category
  %ul.post-categories
    - categories.each do | category |
      - name = ''
      - if current_user.admin?
        - name = link_to(category.name, business_category_path(category))
      - else
        - name = category.name

      -# - name += subcategories_list_in_parens(category)

      %li= name
