-# Local vars -
  parent_category: `true` (boolean) if root category, `false` if child (subcategory)

%thead
  %tr
    %th.col-width-25pc= parent_category ? t('activerecord.models.business_category.one') : |
                                          t('activerecord.attributes.business_category.subcategory') |
    %th.col-width-40pc= t('activerecord.attributes.business_category.description')
    %th.col-width-20pc= parent_category ? t('business_categories.index.add_subcategory') : ''
    %th.col-width-5pc
    %th.col-width-5pc
    %th.col-width-5pc
