-# Local vars -
  parent_category: `true` (boolean) if root category, `false` if child (subcategory)

%thead
  %tr
    %th.col-width-25pc= parent_category ? t('.category') : t('subcategory')
    %th.col-width-35pc= t('.description')
    %th.col-width-25pc= parent_category ? t('.add_subcategory') : ''
    %th.col-width-5pc
    %th.col-width-5pc
    %th.col-width-5pc
    -# %th{ colspan: 4 }
