-# Local vars - see descriptions in `_category_display_row`

%tr{ id: "subcategories-for-#{business_category.id}" }
  %td{ colspan: 6 }
    -# Nested tables inherit BS styling from parent
    .border.border-dark
      %table.table.no_margin_top_bottom
        = render 'cat_table_head', parent_category: false

        %tbody
          - business_category.children.each do |subcategory|

            = render 'category_display_row',
                     business_category: subcategory,
                     context: 'subcategory',
                     parent_cat_id: business_category.id
