%h3 Events:

%table.table.table-hover
  %thead
    %tr
      %th
        Event name
      %th
        Start Date
    %tr
  %tbody
    - events.each do |event|
      %tr.event
        %td.event-name
          = event.name
        %td.event-start-date
          = event.start_date
