---
http_interactions:
- request:
    method: post
    uri: https://api.playground.klarna.com/checkout/v3/orders/
    body:
      encoding: UTF-8
      string: '{"locale":"sv-se","options":{"color_button":"#003a78","color_button_text":"#ffffff","color_header":"#232525","allowed_customer_types":["person","organization"]},"attachment":{"body":"{\"customer_account_info\":[{\"unique_account_identifier\":\"1\"}]}","content_type":"application/vnd.klarna.internal.emd-v2+json"},"purchase_country":"SE","purchase_currency":"SEK","order_amount":30000,"order_tax_amount":0,"merchant_reference1":"1","merchant_reference2":"1","order_lines":[{"type":"digital","name":"Medlemsavgift","quantity":1,"unit_price":30000,"tax_rate":0,"total_amount":30000,"total_tax_amount":0}],"merchant_urls":{"terms":"https://hitta.sverigeshundforetagare.se/dokument/innehall/hmarket","checkout":"https://36a1fe86a965.ngrok.io/anvandare/1/betalning/member_fee","confirmation":"https://36a1fe86a965.ngrok.io/anvandare/1/betalning/''{checkout.order.id}''","push":"https://36a1fe86a965.ngrok.io/anvandare/betalning/klarna_push?id=1\u0026klarna_id=''{checkout.order.id}''"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UEszNzUyOV85Mzk3ZDI0NWYxOTI6b1FEWnR3WWxKSXFWUmkxUg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - e8d2aac9-211a-4094-b8ea-745e6742c95f
      Location:
      - https://api.playground.klarna.com/checkout/v3/orders/261323ec-d47b-6e4d-8e5d-f6fa717e603a
      Render-Time:
      - '39'
    body:
      encoding: UTF-8
      string: '{"order_id":"261323ec-d47b-6e4d-8e5d-f6fa717e603a","status":"checkout_incomplete","purchase_country":"se","purchase_currency":"SEK","locale":"sv-SE","billing_address":{"country":"se"},"customer":{"type":"person"},"shipping_address":{"country":"se"},"order_amount":30000,"order_tax_amount":0,"order_lines":[{"type":"digital","name":"Medlemsavgift","quantity":1,"unit_price":30000,"tax_rate":0,"total_amount":30000,"total_discount_amount":0,"total_tax_amount":0}],"merchant_urls":{"terms":"https://hitta.sverigeshundforetagare.se/dokument/innehall/hmarket","checkout":"https://36a1fe86a965.ngrok.io/anvandare/1/betalning/member_fee","confirmation":"https://36a1fe86a965.ngrok.io/anvandare/1/betalning/''{checkout.order.id}''","push":"https://36a1fe86a965.ngrok.io/anvandare/betalning/klarna_push?id=1&klarna_id=''{checkout.order.id}''"},"merchant_reference1":"1","merchant_reference2":"1","html_snippet":"<div
        id=\"klarna-checkout-container\" style=\"overflow-x: hidden;\">\n  <div id=\"klarna-unsupported-page\">\n  <style
        type=\"text/css\">\n  @-webkit-keyframes klarnaFadeIn{from{opacity:0}to{opacity:1}}@-moz-keyframes
        klarnaFadeIn{from{opacity:0}to{opacity:1}}@keyframes klarnaFadeIn{from{opacity:0}to{opacity:1}}#klarna-unsupported-page{opacity:0;opacity:1\\9;-webkit-animation:klarnaFadeIn
        ease-in 1;-moz-animation:klarnaFadeIn ease-in 1;animation:klarnaFadeIn ease-in
        1;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;a[...]
- request:
    method: get
    uri: https://api.playground.klarna.com/checkout/v3/orders/261323ec-d47b-6e4d-8e5d-f6fa717e603a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic UEszNzUyOV85Mzk3ZDI0NWYxOTI6d3JvbmdfcGFzc3dvcmQ=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html
      Www-Authenticate:
      - Basic realm="very closed site"
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>401 Authorization Required</title></head>\r\n<body>\r\n<center><h1>401
        Authorization Required</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Mon, 03 May 2021 14:00:55 GMT
recorded_with: VCR 6.0.0
