@import "shf-custom-colors";


.yes,
.Yes,
.no,
.No,
.maybe,
.Maybe {
  padding: 3px 8px;
}

.yes,
.Yes {
  background-color: $yes-background-green;
}

.maybe,
.Maybe {
  background-color: $maybe-background-yellow;
}

.no,
.No {
  background-color: $no-background-red;
}

// font-awesome icons
.fa-edit {
  color: Dodgerblue;
  vertical-align: middle;
}

.fa-eye {
  vertical-align: middle;
}

.fa-trash-alt {
  color: red;
  vertical-align: middle;
}


.edit a,
.delete a,
.view a {
  border-bottom: 0;
}

.col-width-60pc {
  width: 0%;
}

.col-width-40pc {
  width: 40%;
}

.col-width-35pc {
  width: 35%;
}

.col-width-25pc {
  width: 25%;
}

.col-width-15pc {
  width: 15%;
}

.col-width-10pc {
  width: 10%;
}

.col-width-5pc {
  width: 5%;
}

.add-entity-button {
  color: green;
}

.center-text {
  text-align: center;
}

.table .no_margin_top_bottom {
  margin-top: 0;
  margin-bottom: 0;
}
